body {
    font-family: Arial, sans-serief;
    background-color: #f5f5dc;
    color: #4a4a4a;
}
header {
    background-color:rgb(79, 98, 97);
    padding: 20px;
    text-align: center;
    color: white;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: #fff;
  color: #333;
  line-height: 1.6;
}

nav ul {
    
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin:0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.Z {
    text-align: center;
    padding: 50px;
    background-color: hsl(142, 23%, 86%);
}

.products {
    display:grid;
    justify-content: center;
    gap: 40px;
    padding: 20px;
}

.product {
    background: white;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 0 10px rgba(65, 61, 61, 0.1);
}

.product img {
    max-width: 300px;

}

button {
    background-color: rgb(50, 50, 134);
    color: white;
    border:none;
    padding: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #654321;
}
.c{
    display:flex;
    gap:30 px;
}
.cl{
  position: absolute;
  color: white;
  top: 80%;
  left: 50%;
  font-size: 40px;
}
.d{
    width: 95%;
    height: 650PX;
}
.spic{
    margin-left: 300px;
    width: 900PX;
}
#h{
    width:900%;
}
#a{
    width:100%;
    height:350px;
    font-size:20px;
    background-color: rgb(187, 182, 188);
}
